version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: shortener_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: shortener
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: shortener_api
    command: yarn start:dev
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    env_file:
      - .env

volumes:
  pgdata:
